.container {
    padding-top: 3em;
}

.fc-content:hover {
    background-color: #337ab7;
	transition:ease-in .3s;
}

.fc-event .fc-time .fc-des {
    font-family:  Arial, Helvetica, sans-serif;
}

.fc-event {
    position: relative;
    display: block;
    font-size: .85em;
    line-height: 1.3;
    border-radius: 3px;
    border: none;
    background-color: #337ab7;
    font-weight: 400;
    width: 100%;
}

.fc-event .fc-bg {
    z-index: 1;  
    opacity: none;
}

.fc-scroller.fc-time-grid-container {
    height: auto!important;
}

.fc-state-default {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    background-image: linear-gradient(to bottom,#fff,#fff);
}


.fc-time-grid .fc-slats td {
    height: 28px;
}

.fc-time-grid-event.fc-v-event {
    margin: 5px;
    width: auto;
    text-align: center;
}

.fc-time-grid-event.fc-v-event .fc-content {
    padding: 5px;
}

.fc-title {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fc-unthemed .fc-today {
    background-color: #deeffb;
}


.modal.fade {
    margin-top: 60px;
}

#calendar {
    margin-bottom: 20px;
}

@media(max-width:1024px) {
    .col-xs-4 {
        width: 100%;
        margin-bottom: 15px;
    }

    .fc-toolbar .fc-right {
        float: right;
        margin-right: 10%;
    }

    .fc-toolbar .fc-left {
        float: left;
        margin-left: 10%;
    }

    .fc-unthemed .fc-today {
        background-color: #fff;
    }
}

[data-time^="00"]>td,
[data-time^="01"]>td,
[data-time^="02"]>td,
[data-time^="03"]>td,
[data-time^="04"]>td,
[data-time^="05"]>td,
[data-time^="14"]>td,
[data-time^="15"]>td
{
    height: 0 !important;
    border: 0 !important;
}

[data-time^="00"]>td *,
[data-time^="01"]>td *,
[data-time^="02"]>td *,
[data-time^="03"]>td *,
[data-time^="04"]>td *,
[data-time^="05"]>td *,
[data-time^="14"]>td *,
[data-time^="15"]>td *
{
    display: none !important;
}

[data-time^="13"]>td,
[data-time^="16"]>td
{
    background: #eee;
}

[data-time^="12"]>td,
[data-time^="13"]>td,
[data-time^="16"]>td,
[data-time^="22"]>td,
[data-time^="23"]>td
 {
     height: 10px !important;
     border: 1px solid #ddd;
}